* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #e3e9f7;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  border-radius: 0 10px 10px ;
  margin: 0 auto;
}

.logo {
  width: 100px;
  margin-top: 8px;
}

h4 {
  color: #000;
  width: 100%;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

span {
  color: #675cff;
}

ul {
  display: flex;
  margin-left: 205px ;
}

a {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.5s;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.active {
  background: #675cff;
  color: white;
}

a:hover {
  color: white; 
  background: #675cff;
}

a:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: #675cff;
  border-radius: 30px;
  z-index: -1;
}

.main {
  margin: 0 auto;
  width: 50vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.main h1 {
  font-size: clamp(3vw, 4em, 4em);
  font-family: "Arial", sans-serif; 
  color: #000; 
}

span {
  color: #675cff;
}

.main img {
  width: 552px;
  height: 520px;
}

.button {
  color: #fff;
  background-color: #675cff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 15px;
  font-family: "Open Sans", sans-serif;
  transition: 0.5s;
  display: inline-block;
}

.button:hover {
  background-color: #3498DB;
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
    background: #fefefe;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 2em;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: #675cff;
    margin-top: 10px  
}

.about p {
    margin-bottom: 1em;
}

.payment-methods {
  background-color: #e3e9f7;;
  padding: 5em;
  text-align: center;
}

.payment-methods h2 {
  font-size: 2em;
  color: #333;
}

.payment-methods p {
  font-size: 1em;
  color: #191c32;
  margin: 10px 0;
}

.payment-method {
  display: inline-block;
  margin: 10px;
}

.payment-method img {
  max-width: 80px;
}

.payment-method p {
  font-size: 0.8em;
  color: #191c32;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 190px;
  background: #fefefe;
}

.social-network {
  display: flex;  
  align-items: center;  
  margin-top: 20px;
  padding: 10px;  
}

.social-network a {
  font-size: 1.5em;
  margin: 0 10px;
  color: #212526;
  text-decoration: none;
}

.social-network a:hover {
  color: #675cff;
}

.follow-us {
  font-size: 1em;
  margin-left: 10px;  
}

