* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #e3e9f7;
}

header {
  width: 100%;
  height: 70px;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  border-radius: 0 10px 10px ;
  margin: 0 auto;
}

.logo {
  width: 100px;
  margin-top: 8px;
}

h4 {
  color: #000;
  width: 100%;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

span {
  color: #675cff;
}

ul {
  display: flex;
  margin-left: 205px ;
}

a {
  color: #212526;
  display: block;
  margin: 0 2px;
  font-weight: 600;
  padding: 8px 18px;
  transition: 0.5s;
  border-radius: 30px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

.active {
  background: #675cff;
  color: white;
}

a:hover {
  color: white; 
  background: #675cff;
}

a:hover::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background: #675cff;
  border-radius: 30px;
  z-index: -1;
}

.main {
  margin: 0 auto;
  width: 50vh;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.main h1 {
  font-size: clamp(3vw, 5em, 4em);
  font-family: "Arial", sans-serif; 
  color: #000; 
}

span {
  color: #675cff;
}

.main img {
  width: 580px;
  height: 400px;
  margin-left: 60px;
}

.card-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 40px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  color: #333;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.card:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 20px rgba(103, 92, 255, 0.5);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h3 {
  font-size: 1.5em;
  color: #333;
}

.card p {
  font-size: 1em;
  color: #666;
}

.eye-care-section {
  background-color: #f5f5f5; 
  padding: 20px;
  text-align: center;
}

.eye-care-card {
  padding: 20px;
  border: 1px solid #675cff;
  border-radius: 30px;
  text-align: center;
  margin: 10px;
  display: inline-block;
}

.eye-care-card img {
  width: 80px;
  height: 100px;
}

.eye-care-card h3 {
  font-size: 1.5em;
  color: #333;
}

.eye-care-card p {
  font-size: 1em;
  color: #666;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 190px;
  background: #fefefe;
}

.social-network {
  display: flex;  
  align-items: center;  
  margin-top: 20px;
  padding: 10px;  
}

.social-network a {
  font-size: 1.5em;
  margin: 0 10px;
  color: #212526;
  text-decoration: none;
}

.social-network a:hover {
  color: #675cff;
}

.follow-us {
  font-size: 1em;
  margin-left: 10px;  
}

.video-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.video-content {
  flex: 1;
  padding: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #666;
}

.video-container {
  flex: 1;
}

iframe {
  width: 400px;
  max-width: 700px;
  height: 270px;
}
